body {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    background-color: lightsalmon;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

h1, p {
    margin: 0;
}