body {
    font-size: 60px;
    font-family: "Libre Baskerville";
    margin: 0;
    padding: 0;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #252525;
}
.te-container {
    display: block;
    position: relative;
    width: 60%;
}

.typingeffect {
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: left;
}
.cursor-blinking {
    position:fixed;
    animation: blink 1s infinite;
    font-family: "Libre Baskerville", serif;
    color: #fff;
}
.typingeffect span.hide {
    opacity: 0;
}
.typingeffect span {
    color: #fff;
}
